/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS
  Sky
    rgb(52, 152, 219)
  Dark Blue
    rgb(44, 62, 80)
  Grey
    rgb(127, 140, 141)
  Cloud
    rgb(236, 240, 241)
*/

.background--skyBlue {
  background-color: #4B7477;
}

.color--skyBlue {
  color: #44a1a0;
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

body {
  font-family: 'Roboto';
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Tenor Sans';
  letter-spacing: .05rem;
}


.heading {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  margin: 0;
  height: 8rem;
  border-bottom: .1vh solid black;
}

#bg-video {
  width: 140rem;
  position: fixed;
  z-index: -1;
  top: 8vh;
  opacity: 0.4;
}


.margin--none {
  margin: 0;
}

/*
  Sections
*/
.portfolio__section {
  margin-top: 28vh;
  width: 100%;
  height: 6rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 4ex;
  color: #FFF;
}

.container {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.about-me__section {
  position: relative;
  width: 100%;
  height: 6rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 4ex;
  color: white;
}

.about-me__text {
  font-size: 1.5rem;
  font-weight: 100;
  width: 40%;
  height: 30vw;
  margin: 5vw auto;
  padding: 4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  text-shadow: .05em .05em grey;
}

.me {
  background: white;
  color: black;
}

.section__example {
  width: 30rem;
  height: 26rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  opacity: 0.7;
  padding: .3em;
}

.section__example:hover {
  transition: 0.3s all;
  position: relative;
  opacity: 1;
  box-shadow: 0.8ex 0.8ex 0.7ex #83817C;
}

.section__example:active {
  height: 50rem;
  width: 50rem;
  position: relative;
}

.section__exampleTitle {
  width: 14rem;
  font-size: 1.8rem;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.section__exampleImage {
  width: 115%;
  height: 115%;

}

/*
  Header
*/

.section__heading--largest {
  font-size: 6ex;
  padding-left: 1ex;
}


.section--social {
  margin-top: -9rem;
  float: right;
  line-height: 10rem;
  margin-right: 4rem;
}


.socialWrapper {
  display: inline-block;
  font-size: 4ex;
  padding-left: 1rem;
}



/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal__closeButton {
  position: absolute;
  top: 8rem;
  right: 8rem;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s all;
}

.modal__closeButton:hover {
  font-size: 3.4rem;
  top: 7.8rem;
  right: 7.8rem;
  transition: 0.3s all;
}

.modal__description {
  font-size: 2rem;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: #8BA4A2;
  color: #273233;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.modal__link:hover {
  color: #FFF;
  background-color: #336D72;
  transition: 0.3s all;
}

.modal__image {
  opacity: 0.4;
  width: 100%;
}

#greeting {
  visibility: hidden;
  margin: 30rem auto 0;
  text-align: center;
  font-size: 8rem;
  color: #42696C;
  font-weight: 900;
}
