/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS
  Sky
    rgb(52, 152, 219)
  Dark Blue
    rgb(44, 62, 80)
  Grey
    rgb(127, 140, 141)
  Cloud
    rgb(236, 240, 241)
*/

.background--skyBlue {
  background-color: #79b791;
}

.color--skyBlue {
  color: #44a1a0;
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/


body {
  font-family: 'Montserrat', serif;
  margin: 0;
  width: 100%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05rem;
}


.heading {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  margin: 0;
  height: 8rem;
  border-bottom: .1vh solid black;
}

#bg-video {
  width: 140rem;
  position: fixed;
  z-index: -1;
  top: 8vh;
  opacity: 0.5;
}

/* .jumbotron {
  width: 100vw;
} */

.margin--none {
  margin: 0;
}

/*
  Sections
*/
.portfolio__section {
  margin-top: 96vh;
  width: 100%;
  height: 6rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 4ex;
  color: white;

}

.container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.about-me__section {
  position: relative;
  width: 100%;
  height: 6rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 4ex;
  color: white;
}
.me {
  background: white;
   color: black;
}

.section__example {
  width: 16rem;
  height: 16rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: -10ex 10ex 20ex -10ex grey;
  margin: 1ex;
}


.section__example:active {
  transition: 0.35s all;
  height: 18rem;
  width: 18rem;
  position: relative;
}

.section__exampleTitle {
  font-size: 1.6ex;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__exampleImage {
  width: 200%;
  height: 150%;

}

/*
  Header
*/

.section__heading--largest {
  font-size: 6ex;
  padding-left: 1ex;

}


.section--social {
  margin-top: -9rem;
  float: right;
  line-height: 10rem;
  margin-right: 4rem;
}


.socialWrapper {
  display: inline-block;
  font-size: 4ex;
  padding-left: 1rem;
}



/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal__closeButton {
  position: absolute;
  right: 5rem;
  top: 5rem;
  font-size: 3rem;
  z-index: 2;
  cursor: pointer;
}

.modal__description {
  font-size: 2rem;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.modal__image {
  opacity: 0.4;
  width: 100%;
}
